<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>
    <form action="/registration" method="post">
        first name: <br><input name="firstName">
        <br>
        last name:<br> <input name="lastName">
        <br>
        login:<br> <input name="login">
        <br>
        password:<br> <input name="password">
        <br>
        number:<br><input name="number">
        <br>
        uniqueWord: <br><input name="UniqueWord">
        <br>
        <button type="submit" >ok</button>
    </form>


    <style>

    </style>
</body>

</html>
