<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>
    <form action="/registration" method="post">
        first name: <input name="firstName">
        <br>
        last name: <input name="lastName">
        <br>
        login: <input name="login">
        <br>
        password: <input name="password">
        <br>
        number: <input name="number">
        <br>
        unique word: <input name="UniqueWord">
        <br>
        <button type="submit">ok</button>
    </form>


    <style>

    </style>
</body>

</html>
